html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
  background: black;
  color: white;
}

#__next {
  height: 100%;
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  color: inherit;
  background: none;
  border: none;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button:hover {
  cursor: pointer;
  transform: skewX(30deg);
}

small {
  opacity: 0.8;
}

main {
  position: relative;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

main>h1, main>h2, main>p {
  margin: 0;
}

main>h1 {
  padding: 1rem;
}

main>section {
  flex: 1;
  position: relative;
}


nav {
  background: black;
  z-index: 10;

  height: 100vh;
  overflow: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: flex-start;
  gap: 0.4rem;
}


button.back-button {
  width: 60%;
}
.canvas-layout {
  display: none;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 10%;
  background: none;
  border-bottom: 1px dashed white;
  border-right: 1px dashed white;
  border-radius: 2px;
  width: 15rem;
  height: 10rem;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  place-items: center;
}

.bar-desc>p {
  margin: 0.2rem;
}
