html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
  background: black;
  color: white;
}

#__next {
  display: flex;
  flex-direction: column;
  place-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  color: inherit;
  background: none;
  border: none;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button:hover {
  cursor: pointer;
  transform: skewX(30deg);
}

small {
  opacity: 0.8;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10rem;
}

main>h1, main>h2, main>p {
  margin: 0;
}

main>h1 {
  padding: 1rem;
}




nav {
  position: absolute;
  background: black;
  z-index: 10;
  height: 80vh;
  overflow: auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: flex-start;
  gap: 0.4rem;
  padding: 1rem;
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav.nav-hidden {
  height: auto;
}
nav>p>img {
  transform: rotateX(180deg);
}
nav.nav-hidden>p>img {
  transform: rotateX(0);
}

nav.nav-hidden .countries-list {
  display: none;
}

nav>p {
  display: flex;
  place-items: center;
  transition: background-color 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding: 0.3rem;
  border-radius: 4px;
  gap: 1rem;
}

button.back-button {
  width: 60%;
}
.canvas-layout {
  display: none;
  z-index: 2;
  position: absolute;
  top: 14rem;
  left: 10%;
  background: none;
  border-bottom: 1px dashed white;
  border-right: 1px dashed white;
  border-radius: 2px;
  width: 15rem;
  height: 10rem;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  place-items: center;
}

.bar-desc>p {
  margin: 0.2rem;
}


.countries-list {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  width: 100%;
  padding-top: 1rem;
  overflow: auto;
  height: auto;
  background: rgb(63, 63, 63);
  padding: 1rem;
  margin: 0;
}

.countries-list a {
  height: 100%;
  overflow: hidden;
}

.countries-list li {
  font-size: large;
  height: 20px;
  display: flex;
  gap: 1rem;
  place-items: center;
  transition: background-color 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 2px;
  padding: 0 0.5rem;

}

.countries-list li:hover, nav>p:hover {
  background: rgb(60, 148, 133);
  cursor: pointer;
}

.countries-list img {
  height: 70%;
  width: 1.5rem;
}


.section-chart {
  min-height: 50vh;
  height: 600px;
}